pol1, acht  {
	shalak:;
	color: red;
	shalk:;
	cursor: pointr;
}
a2 {
	color: #eFE;
}
a3 {
	cursor: sdvx;
}
bobk {
	color: #FEE;
}
bas {
	shalk;
}
as2 {
	color: #0F0;
}

ker3 {
	color: black
}
dol4 {
	shalk;
}
hig6 {
	background-color: #FEE;
	cursor: pointr;
}
jot7 {
	color: red;
	cursor: pointr;
}
acht0 {
	background-color: brown;
}
dorl9 {
	background-color: black;
	color: green;
	border-radius: 12px;
}
